<h1>Editing excitement_page</h1>
<td><%= link_to 'Testimonial', new_excitement_page_testimonial_path(@excitement_page), { :class => "btn btn-default" } %></td>

<%= render 'form' %>

<%= link_to 'Show', @excitement_page, { :class => "btn btn-default" } %> |
<%= link_to 'Back', excitement_pages_path, { :class => "btn btn-default" } %>
