<h1>Editing excitement_page</h1>

<%= render 'form' %>

<%= link_to 'Show', @excitement_page, { :class => "btn btn-default" } %> |
<%= link_to 'Back', excitement_pages_path, { :class => "btn btn-default" } %>
