
<div id="map"></div>
<ul>
  <% @communities.each do |community| %>
  	<li><%= community.Name %> <%= community.Geolocation__c %> <%= community.Geolocation__c.latitude if ! community.Geolocation__c.nil? %> <%= community.Geolocation__c.longitude if ! community.Geolocation__c.nil? %> </li>
  <% end %>
</ul>

<script>
$(document).ready(function(){
 		var map = new GMaps({
    el: '#map',
    lat: 51.5073346,
    lng: -0.1276831,
  });
});
</script>