/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#communities {
  padding: 5px;
  float: left; 
}

#map, #map-canvas { height: 500px; width: 600px; float: left;}

.book-list-container {
	width: 100%;
  height: 220px;
  clear: both;
}

.book-container {
  float: left;
  margin-right: 1%;
  overflow: hidden;
  width: 24%;
  height: 200px;
}

.book-image {
  width: 100%;
  height: 180px;
}

.book-name {
  width: 100%;
  height: 20px;
}