/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#main {

    text-align: center;
}

.donate {

    font-family: 'DINBold', Verdana, Arial, Sans-Serif;
    font: bold 14px/16px Arial, Helvetica, sans-serif;
    padding:4px 19px;
    display:inline;
    background:#fbc646;
    color:#492922;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
 
   
}

.donate:hover {

    color:#FFF;
    text-decoration:none;
    background:#dc7c27;

}