
#main {
    text-align: center;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: none;
}


#testimonials, #community {    
  position: relative;
  min-height:300px; 
}

.testimonial-photo, .testimonial-text, .community-map, .community-photo {
    width:40%;
    position:absolute;
    display: inline-block;
    height:100%;
    text-align: center;
}

.testimonial-photo, .community-map {
    left:12%;
}

.testimonial-text, .community-photo {   
    right:9%;
}

.community-text {

    position:absolute;
    width:100%;
    bottom:0;
}
.excitement-books {

    display:inline;

}

.donate {
    font-family: 'DINBold', Verdana, Arial, Sans-Serif;
    font: bold 14px/16px Arial, Helvetica, sans-serif;
    padding:4px 19px;
    display:inline;
    background:#fbc646;
    color:#492922;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;    
}

.donate:hover {

    color:#FFF;
    background:#dc7c27;

}