<HTML>
<head></head>
<Body>
<table border="0" width="800">

<tr>
<td colspan=2>
<img src="http://rachelbeaney.com/wp-content/uploads/2014/05/IndigenousLiteracyFoundation.jpg">
</td>
</tr>
<tr>
<td colspan=2>
<font face="verdana" size="3"><br/><br/>

Hi,
How do we break the poverty cycle? Literacy has been shown to break the poverty cycle by providing opportunities for education and employment, with flow-on effects for the economy. <br/>
Your donation has helped provide books for the Indigenous communities below - and helped create a new lease of life for these kids!<br/><br/></font>

</td>
</tr>

<tr>
<td>
<Img src="http://rachelbeaney.com/wp-content/uploads/2014/05/gawa_2.jpg">
</td>
<td><CENTER>
<font face="verdana" size="6" color="#ffcc00">YOUR CONTRIBUTION:</font><br/>
<font face="verdana" size="3"><CENTER>
Take a peek inside the classfroom on Elcho Isand in the Northern Territory..
At Elcho Island in the GAWA Homeland, the community are creating 'Reading hubs' and 'literacy tubs'. These are tubs with fiction and non-fiction titles available for students to engage with reading. Thanks to your donation, this community can keep reading! 
<br/><br/>

<%= link_to("More case studies", excitement_page_url(@excitement_page,host: 'localhost:3000'))%>
<br/>

</font>

</td>
</tr>

<tr>
<td>
<img src="http://rachelbeaney.com/wp-content/uploads/2014/05/shakealeg.jpg">
</td>
<td><CENTER>

<font face="verdana" size="6" color="#ffcc00">FEATURED BOOK:</font><br/>
<font face="verdana" size="3"><CENTER>
Shake a Leg brings popular indigenous writer and educator BooriMonty Pryor and acclaimed author and illustrator Jan Ormerod together for the first time in what can only be described as an ecstatic dance between two cultures.
that."


<br/><br/>

<%= link_to("See all books", excitement_page_url(@excitement_page,host: 'localhost:3000'))%>
<br/>
</td>
</tr>

<tr>
<td colspan=2>
<br/> <font face="verdana" size="2"><CENTER>
Unsubscribe<br/>
Copyright &copy; Indigenous Literacy Foundation 2014<br/></br>

</td>
</tr>

</table></html>