<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Donate Now !!!!!!</h1>
    <p>
      <%= excitement_page_url @excitement_page, host: 'localhost:3000'%>
    </p>

    <p>Thanks </p>
  </body>
</html>