<div id="footer">
  <div class="footer-dots"></div>
  <div class="footer-holder">
    <div class="title">
              <h2 id="facts" style="position: relative;">
          <span style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 944px; height: 20px;"><span>DID YOU KNOW?</span> Less than 36% of people in a remote community have access to a library and books</span><span style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 944px; height: 20px;"><span>DID YOU KNOW?</span> Only 40% of Aboriginal children are at school until year 12.</span><span style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 944px; height: 20px;"><span>DID YOU KNOW?</span> Over 50% of very remote Indigenous families speak an Indigenous language</span><span style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 944px; height: 20px;"><span>DID YOU KNOW?</span> Only 1 in 5 kids in a NT remote community can read at an accepted level </span>       </h2>
    </div>
    <div class="footer-boxes">
      <div class="holder">
        <div class="box">
          <h3>Sign up to our enewsletter</h3>
<!--            <form action="/signup.html" name="form_signup" id="form_signup" method="post">-->
          <form id="form_signup" name="form_signup" method="POST" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8">

            <input type="hidden" value="00DA0000000BDWl" name="oid">
            <input type="hidden" value="http://www.indigenousliteracyfoundation.org.au/enews-thankyou.html" name="retURL">
            <div class="row">
<!--                <input type="text" class="validate[required,funcCall[checkPrePopField]], text" value="Enter your name" name="fullname" id="fullname" />-->
              <input type="text" value="Enter your name" size="20" name="first_name" maxlength="40" id="first_name" class="validate[required,funcCall[checkPrePopField]], text">
            </div>
<!--              <div class="row">-->
<!--                <input type="text" class="validate[required,funcCall[checkPrePopField]], text" value="Enter your name" name="fullname" id="fullname" />-->
<!--                <input class="validate[required,funcCall[checkPrePopField]], text" id="last_name" maxlength="40" name="last_name" size="20" type="text" value="Enter your last name" />-->
<!--              </div>-->
            <div class="row">
              <input type="text" id="email" name="email" value="Enter email" class="validate[required,custom[email]], text">
            </div>
<!--              <div class="row">-->
<!--                <input type="text" class="validate[required,funcCall[checkPrePopField]], text" value="Enter your name" name="fullname" id="fullname" />-->
<!--                <input class="text" id="company" maxlength="40" name="company" size="20" type="text" value="Enter your company name" />-->
<!--              </div>-->
            <div class="row">
              <select title="Lead Type" name="00NA0000009r1XY" id="00NA0000009r1XY" style="width:150px;position:relative;left:3px">
                <option value="">Organisation Type</option>
                <option value="">--None--</option>
                <option value="Individual">Individual</option>
                <option value="School">School</option>
                <option value="Business">Business</option>
                <option value="Library">Library</option>
                <option value="Other Organisation">Other Organisation</option>
              </select>
            </div>
            <input type="submit" id="submit" value="signup" class="submit">
          </form>
        </div>
        <div class="box">
          <h3>Get involved</h3>
          <ul>
            <li><a href="http://www.indigenousliteracyfoundation.org.au/register-your-school.html">Register your School</a></li><li><a href="http://www.indigenousliteracyfoundation.org.au/register-for-20123.html">Register as a Publisher</a></li><li><a href="https://www.indigenousliteracyfoundation.org.au/payment/donate/?id=701A0000000iEiN">Donate Online</a></li><li><a href="http://www.indigenousliteracyfoundation.org.au/register-for-20125.html">Register your Bookshop</a></li>            </ul>
        </div>
        <div class="box social">
          <h3>Connect with us</h3>
          <ul>
            <li class="facebook"><a target="_blank" href="http://www.facebook.com/IndigenousLiteracyFoundation">Facebook</a></li>             <li class="twitter"><a target="_blank" href="https://twitter.com/indigenouslf">Twitter</a></li>             <li class="youtube"><a target="_blank" href="http://www.youtube.com/user/IndigenousLiteracy">Youtube</a></li>             <li class="flickr"><a target="_blank" href="http://www.flickr.com/photos/indigenousliteracyfoundation/">Flickr</a></li>             
          </ul>
        </div>
        <div class="box">
          <h3>Quick links</h3>
          <ul>
            <li><a href="http://www.indigenousliteracyfoundation.org.au/media.html">Media</a></li><li><a href="http://www.indigenousliteracyfoundation.org.au/bloglatest-news.html">Blog/Latest News</a></li><li><a href="http://www.indigenousliteracyfoundation.org.au/contact-us.html">Contact Us</a></li><li><a href="http://www.indigenousliteracyfoundation.org.au/sign-up.html">eNewsletter Sign Up </a></li>            </ul>
        </div>
        <div class="box">
          <h3>Donate now!</h3>
          <p>Make a tax-deductible donation today.</p>
          <form method="post" action="https://www.indigenousliteracyfoundation.org.au/payment/donate/?id=701A0000000iEiN">
<!--              <div class="row">-->
<!--                <select name="orderAmount" id="orderAmount">-->
<!--                  <option value="">Select amount</option>-->
<!--                  <option value="10">$10</option>-->
<!--                  <option value="25">$25</option>-->
<!--                  <option value="50">$50</option>-->
<!--                  <option value="100">$100</option>-->
<!--                  <option value="140">$140</option>-->
<!--                </select>-->
<!--              </div>-->
            <input type="submit" value="donate" class="submit">
          </form>
        </div>
      </div>
    </div>
    <div class="notes">
      <span>Copyright &copy; Indigenous Literacy Foundation 2014</span>
      <ul>
        <li><a href="http://www.indigenousliteracyfoundation.org.au/privacy-policy.html">Privacy</a></li>         <li>Site credits: <a href="http://www.ful-vue.com" target="_blank">Ful-vue</a> &amp; <a href="http://www.mindwire.com.au" target="_blank">Mindwire</a></li>
      </ul>
    </div>
    <div class="ad-area">
      <div class="text">
        <p>The Indigenous Literacy Foundation works as an initiative of the Australian Book Industry with the support of:</p>
      </div>
      <ul class="ad">
        <li><a href="http://www.asauthors.org/" target="_blank"><img alt="#" src="http://www.indigenousliteracyfoundation.org.au/site/skins/ilf/images/ad04.gif"></a></li>
        <li><a href="http://www.aba.org.au/" target="_blank"><img alt="#" src="http://www.indigenousliteracyfoundation.org.au/site/skins/ilf/images/ad05.gif"></a></li>
        <li style="margin-right:0"><a href="http://www.publishers.asn.au/" target="_blank"><img alt="#" src="http://www.indigenousliteracyfoundation.org.au/site/skins/ilf/images/ad06.gif"></a></li>
      </ul>
    </div>
  </div>
</div>